<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
<h1>Register Page</h1>
<form action="/register" method="post">
    Username:<input type="text" name="username" placeholder="enter username"><br>
    Password:<input type="text" name="password" placeholder="enter password"><br>
    Email:<input type="text" name="email" placeholder="enter email"><br>
    Full Name:<input type="text" name="fullName" placeholder=" fullname"><br>
    <button type="submit">Register</button>
</form>
</body>
</html>